*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0px 80px;
    padding-top: 100px;
    font-family: 'Gilroy-Regular', sans-serif;
}

#left{
    height: 100%;
    width: 45%;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

#left h1{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 7vw;
    line-height:6.8vw ;
    font-weight:550;
}


#bottom-left{
    height: 40%;
    width: 100%;
    /* background-color:yellow; */
}

#color{
     /* background-color: tomato; */
     width: fit-content;
     padding: 5px 10px;
     font-family: 'Gilroy-Regular', sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
    border-radius: 150px;
    border: 1px solid black;
}

#color h5{
    font-size: 1vw;
    margin-right: 10px;
    font-weight: 500;
}

#color-1{
    height:15px;
    width:15px;
    background-color:rgb(129, 129, 129);
    border-radius: 50%;
}

#color-2{
    height:15px;
    width:15px;
    border-radius: 50%;
    background-color:rgb(171, 98, 98);
}

#left h2{
    font-size: 1.5vw;
    margin-top: 30px;
}

#left p{
    width: 70%;
    margin-top: 7px;
    font-size: 1.2vw;
}

#right{
    height: 95%;
    width: 32%;
    /* background-color: tomato; */
    position: relative;
}

#right-top{
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
 
#right-top h5{
    font-size:  1vw; 
}

#right-top h5 i {
    font-size:  1vw;
    color: gold; 
}

#right img{
    width: 100%;
    height: 92%;
    object-fit: cover;
}

#black{
    height: 100px;
    width: 100px ;
    background-color:rgb(3, 3, 7);
    position: absolute;
    color: aliceblue;
    border-radius: 50%;
    right: -12%;
    top:40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rotated{
    position: absolute;
    left: -22%;
    bottom: 30%;
    rotate: -90deg;
}